<div
    class="page-layout carded fullwidth inner-scroll"
    style="position: relative;"
>
    <div class="top-bg accent"></div>
    <div class="center">
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <div fxLayout="row" fxLayoutAlign="start center">
                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2">
                        User Access Rights
                    </div>
                </div>
            </div>
        </div>
        <div class="content-card">
            <div class="content">
                <mat-tab-group
                    fxLayout="column"
                    fxFlex
                    (selectedTabChange)="tabChange($event)"
                >
                    <mat-tab label="Roles">
                        <div class="w-100-p">
                            <ml-roles
                                #roleComp
                                [formDefaultState]="formDefaultState"
                            ></ml-roles>
                        </div>
                    </mat-tab>
                    <mat-tab label="Users">
                        <div class="w-100-p">
                            <ml-users
                                #userComp
                                [formDefaultState]="formDefaultState"
                            ></ml-users>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
