<div class="page-container carded fullwidth " style="margin-top: 80px;margin-bottom: 60px;">
  <div class="center">
      <div class="content-card">
          <div class="content p-24 ">
              <div class="divSiteTarget">
                  <!-- Site Target Table Starts-->
                  <ag-grid-angular
                    #agGrid
                    style="width: 100%; height:600px;"
                    id="myGrid"
                    class="ag-theme-alpine"
                    [modules]="modules"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [groupUseEntireRow]="true"
                    [autoGroupColumnDef]="autoGroupColumnDef"
                    [groupDefaultExpanded]=1
                    [frameworkComponents]="frameworkComponents"
                    [loadingOverlayComponent]="loadingOverlayComponent"

                    [getRowNodeId]="getRowNodeId"
                    [getRowHeight]="getRowHeight"
                    [animateRows]="true"
                    [rowData]="rowData"
                    (gridReady)="onGridReady($event)"
                  ></ag-grid-angular>
                  <!-- / Site Target Table Ends-->
              </div>
          </div>
      </div>
  </div>
</div>


<div class="topbar">
  <div class="filter-container" fxLayoutAlign="space-between">
    <div class="excel-export" (click)="exportGird()">
      <img alt="" src="../../../../assets/icons/material-icons/xls.png" width="45px" height="45px">
      <p>XLS Export</p>
    </div>
  </div>
</div>