.search {
    border: 1px solid #c3c3c3;
      margin: 6px;
      height: 39px;
      padding-left: 11px;
      width: 90%;
      border-radius: 10px;
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: inherit;
  }
  