.toast-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.toast-target{
    margin: -24px -16px -23px 0px;
    max-height: 49px !important;
    height: 88px !important;
    padding: 0px 20px !important;
    box-shadow: none !important;
}

.filter{
    background-color: #fccb43 !important;
}