<!-- <app-loading-cell-renderer></app-loading-cell-renderer> -->
<div class="search-header" [ngClass]="{'search-visible': monthFilter}">
    <div class="month-shown">
      <h3>Month shown</h3>
      <p>{{monthFilter}}</p>
    </div>
    <div class="go-to">
      <h3>Go to</h3>
      <div class="reset-search" (click)="resetSearch()">
        <h3>Current Month</h3>
      </div>
    </div>
  </div>
  <div class="page-container carded fullwidth " style="margin-top:40px;margin-bottom: 40px;">
    <div style="margin-bottom: 10px;margin-left: 20px;margin-right: 20px;" [@slideInOut]="animationState">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="search-container">
            <div class="search-first-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                <div fxflex="" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" fxflex="2" role="img" aria-hidden="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 2%;" (click)="toggleShowDiv('divA')">cancel</mat-icon>
                    <input class="search-box" formControlName="searchbar" fxflex="95" placeholder="Search here" style="flex: 1 1 100%; box-sizing: border-box; max-width: 95%;">
                    <button >
                      <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" fxflex="2" role="img" aria-hidden="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 2%;">search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="search-second-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                <div fxflex="" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <div class="search-column">
                        <span class="faded">FILTER BY</span>
                        <mat-slide-toggle formControlName="currentMonth" (change)="currentMonth()"></mat-slide-toggle>
                        <span class="space">This month</span>
                    </div>
                    <div class="search-column">
                        <span class="faded">PREVIOUS</span>
                        <mat-radio-group aria-label="Select an option" formControlName="previousMonth" (change)="previousMonth($event)">
                            <mat-radio-button class="space" value="3">3 Months</mat-radio-button>
                            <mat-radio-button class="space" value="6">6 Months</mat-radio-button>
                            <mat-radio-button class="space" value="12">12 Months</mat-radio-button>
                            <mat-radio-button class="space" value="all">All</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="search-column">
                        <mat-slide-toggle class="space" formControlName="deletedRecords" ></mat-slide-toggle>
                        <span class="column-text">Include Deleted Records</span>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="center">
      <div class="content-card">
        <div class="content p-24 ">
          <!-- Header Starts -->
          <div fxlayoutalign="space-between" style="padding: 0px 0px 20px 0px;place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
            <h2 style="margin: 0px;">{{departmentNameRendered}} <b style="margin-left: 10px;color: #ef1e75;">(Saleslog)</b></h2>
            <div class="secondary-options">
              <app-search (click)="toggleShowDiv('divA')"></app-search>
              <app-print [printData]="printdata" (generatePrint)="onBtPrint()"></app-print>
            </div>
          </div>
          <div fxlayout.lt-lg="column" fxlayout.lt-md="column" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
            <div class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Carry Over</span>
                  </td>
                  <td>
                    <span class="value" [ngClass]="{'red-amount': carryOverAmount<0}">$ {{carryOverAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(0)" class="heading2">{{carryOverUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value">$ {{carryOverAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
              <tr><td>
                <span class="heading">Sold</span></td>
                <td>
                  <span class="value negative">$ {{soldAmount| number:'.2-2' }}</span>
                </td>
              </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(1)" class="heading2">{{ soldUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{soldAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Covered</span>
                  </td>
                  <td>
                    <span class="value">$ {{coveredAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(2)" class="heading2">{{ coveredUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{coveredAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Delivered</span>
                  </td>
                  <td>
                    <span class="value">$ {{deliveredAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(3)" class="heading2">{{ deliveredUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{deliveredAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- <div class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Reported</span>
                  </td>
                  <td>
                    <span class="value">Remaining 94</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="heading2">0 Units</span>
                  </td>
                  <td>
                    <span class="value">Reportable 92</span>
                  </td>
                </tr>
              </table>
            </div> -->
          </div>
          <!--/Header Ends -->
          
          <div class="saleslog-container">
            <!-- Sales Log Table Starts-->
            <ag-grid-angular
              #agGrid
              style="width: 100%; height:300px;"
              id="myGrid"
              class="ag-theme-alpine"
              [modules]="modules"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [autoGroupColumnDef]="autoGroupColumnDef"
              [suppressMenuHide]="true"
              [postProcessPopup]="postProcessPopup"
              [components]="components"
              [rowHeight]="rowHeight"
              [allowContextMenuWithControlKey]="true"
              [rowSelection]="rowSelection"
              [context]="thisComponent"
              [getRowClass]="getRowClass"
              [frameworkComponents]="frameworkComponents"
              [loadingOverlayComponent]="loadingOverlayComponent"
              [components]="components"
              [getContextMenuItems]="getContextMenuItems"
              [rowData]="rowData"
              (gridReady)="onGridReady($event)"
              (columnResized)="onColumnResized($event)"
              [blockLoadDebounceMillis]="true"
              [rowBuffer]="20"
              ></ag-grid-angular>
            <!-- / Sales Log Table Ends-->
          </div>


          <!--Footer Starts  -->
          <div fxlayoutalign="space-between" style="width: 100%;background: whitesmoke;place-content: stretch space-between;align-items: stretch;flex-direction: row;box-sizing: border-box;display: flex;">
            <button class="ng-tns-c59-23 mat-button" (click)="addColumn()" mat-button=""><span class="mat-button-wrapper">
              <span class="addIcon ng-tns-c59-23" style="
              background: #2196f3;
              padding: 7px;
              color: white;
              margin-right: 6px;
          ">+</span>
              <span class="addBtn ng-tns-c59-23">ADD</span></span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <div>
                <button class="ng-tns-c59-23 mat-button" (click)="excelExport()" style="display: none;">
                  <span class="mat-button-wrapper">
                    <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" class="print_export ng-tns-c59-23" height="48" id="Layer_1" style="enable-background:new 0 0 24 24; margin-top: 3px;" version="1.1" viewBox="0 0 24 24" width="48" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                      <g>
                        <path d="M19.6,5.5h-5.7v1.9h1.9v1.3h-1.9v1.2h1.9v1.2h-1.9v1.2h1.9v1.2h-1.9v1.2h1.9V16h-1.9v1.9h5.7c0.3,0,0.5-0.2,0.5-0.5V6
                          C20.1,5.7,19.9,5.5,19.6,5.5L19.6,5.5z M18.8,16h-2.5v-1.2h2.5V16z M18.8,13.5h-2.5v-1.2h2.5V13.5z M18.8,11.1h-2.5V9.8h2.5V11.1z
                          M18.8,8.6h-2.5V7.3h2.5V8.6z M18.8,8.6" fill="#2196f3">
                        </path>
                        <path d="M3.9,5.4V18l9.3,1.8V3.6L3.9,5.4z M9.8,14.8l-1.1-2.1c0-0.1-0.1-0.2-0.1-0.4h0c0,0.1-0.1,0.2-0.1,0.4l-1.1,2H5.7l2-3.2
                        L5.8,8.5h1.7l0.9,1.9c0.1,0.1,0.1,0.3,0.2,0.5h0c0-0.1,0.1-0.3,0.2-0.5l1-1.9h1.6l-1.9,3.1l1.9,3.2H9.8z M9.8,14.8" fill="#2196f3"></path>
                      </g>
                    </svg> XLS export
                  </span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
                </button>
              <button class="ng-tns-c59-23 mat-button" (click)="columnOption()">
                <span class="mat-button-wrapper">
                  <svg class="print_options ng-tns-c59-23" height="48" style="margin-top: 3px;" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 18h5V5h-5v13zm-6 0h5V5H4v13zM16 5v13h5V5h-5z" fill="#2196f3"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>Column options
                </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay">
                </div>
              </button>
            </div>
          </div>
          <!-- /Footer Ends -->
        </div>
      </div>
    </div>
  
    <div id="divuldaterange">
      
      <!-- Calender Starts -->
      <date-footer [rowData]="rowData" (dateFilterObj)="dateSetting($event)"></date-footer>
      <!-- / Months slider Ends -->
  
    </div>
    
  
  </div>