<!-- <app-loading-cell-renderer></app-loading-cell-renderer> -->
<div class="search-header" [ngClass]="{'search-visible': monthFilter}">
    <div class="month-shown">
      <h3>Month shown</h3>
      <p>{{monthFilter}}</p>
    </div>
    <div class="go-to">
      <h3>Go to</h3>
      <div class="reset-search" (click)="resetSearch()">
        <h3>Current Month</h3>
      </div>
    </div>
  </div>
  <div class="page-container carded fullwidth " style="margin-top:40px;margin-bottom: 40px;">
    <div style="margin-bottom: 10px;margin-left: 20px;margin-right: 20px;" [@slideInOut]="animationState">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="search-container">
            <div class="search-first-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                <div fxflex="" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" fxflex="2" role="img" aria-hidden="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 2%;" (click)="toggleShowDiv('divA')">cancel</mat-icon>
                    <input class="search-box" formControlName="searchbar" fxflex="95" placeholder="Search By: Pay Type, Finance Manager, Email, Department, Client" style="flex: 1 1 100%; box-sizing: border-box; max-width: 95%; font-family: monospace;">
                    <button >
                      <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" fxflex="2" role="img" aria-hidden="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 2%;cursor: pointer !important;">search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="search-second-row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                <div fxflex="" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <div class="search-column">
                        <span class="faded" style="font-family: monospace;">FILTER BY</span>
                        <mat-slide-toggle formControlName="currentMonth" (change)="currentMonth()"></mat-slide-toggle>
                        <span class="space">This month</span>
                    </div>
                    <div class="search-column">
                        <span class="faded" style="font-family: monospace;">PREVIOUS</span>
                        <mat-radio-group aria-label="Select an option" formControlName="previousMonth" 
                        (change)="previousMonth($event)">
                            <mat-radio-button class="space" value="3">3 Months</mat-radio-button>
                            <mat-radio-button class="space" value="6">6 Months</mat-radio-button>
                            <mat-radio-button class="space" value="12">12 Months</mat-radio-button>
                            <mat-radio-button class="space" value="all">All</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="search-column">
                        <mat-slide-toggle class="space" formControlName="deletedRecords" ></mat-slide-toggle>
                        <span class="column-text">Include Deleted Records</span>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="center">
      <div class="content-card">
        <div class="content p-24 ">
          <!-- Header Starts -->
          <div fxlayoutalign="space-between" style="padding: 0px 0px 20px 0px;place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
            <h2 style="margin: 0px;">{{departmentNameRendered}} <b style="margin-left: 10px;color: #ef1e75;">(Saleslog)</b></h2>
            <div class="secondary-options" style="    cursor: pointer;
            background: #f5f5f5;
            padding: 10px;
            border-radius: 7px;
            color: #1b1b1b;
            padding-bottom: 3px;
            padding-right: 14px;
            border: 1px solid #e3e3e3;
            font-family: monospace;" (click)="toggleShowDiv('divA')">
                <app-search ></app-search>
                <span style="font-weight: bold;margin-bottom: 7px;">Search</span>
              <!-- <app-print [printData]="printdata" (generatePrint)="onBtPrint()"></app-print> -->
            </div>
          </div>
          <div fxlayout.lt-lg="column" fxlayout.lt-md="column" fxlayoutalign="space-between" style="place-content: stretch space-between; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
            <div class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Carry Over</span>
                  </td>
                  <td>
                    <span class="value" [ngClass]="{'red-amount': carryOverAmount<0}">$ {{carryOverAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(0)" class="heading2">{{carryOverUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value">$ {{carryOverAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
              <tr><td>
                <span class="heading">Sold</span></td>
                <td>
                  <span class="value negative">$ {{soldAmount| number:'.2-2' }}</span>
                </td>
              </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(1)" class="heading2">{{ soldUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{soldAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Covered</span>
                  </td>
                  <td>
                    <span class="value">$ {{coveredAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(2)" class="heading2">{{ coveredUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{coveredAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="routineSelected === 1" class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Delivered</span>
                  </td>
                  <td>
                    <span class="value">$ {{deliveredAmount| number:'.2-2' }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="filterGrid(3)" class="heading2">{{ deliveredUnits| number:'1.0-0' }} Units</a>
                  </td>
                  <td>
                    <span class="value negative">$ {{deliveredAvg |number: '.2-2' }} Av.</span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- <div class="summaryBox" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
              <table>
                <tr>
                  <td>
                    <span class="heading">Reported</span>
                  </td>
                  <td>
                    <span class="value">Remaining 94</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="heading2">0 Units</span>
                  </td>
                  <td>
                    <span class="value">Reportable 92</span>
                  </td>
                </tr>
              </table>
            </div> -->
          </div>
          <!--/Header Ends -->
          
          <div class="saleslog-container">
            <!-- Sales Log Table Starts-->
            <ag-grid-angular
              #agGrid
              style="width: 100%; height:300px;"
              id="myGrid"
              class="ag-theme-alpine"
              [modules]="modules"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [autoGroupColumnDef]="autoGroupColumnDef"
              [postProcessPopup]="postProcessPopup"
              [components]="components"
              [rowHeight]="rowHeight"
              [allowContextMenuWithControlKey]="true"
              [rowSelection]="rowSelection"
              [context]="thisComponent"
              [getRowClass]="getRowClass"
              [frameworkComponents]="frameworkComponents"
              [loadingOverlayComponent]="loadingOverlayComponent"
              [components]="components"
              [getContextMenuItems]="getContextMenuItems"
              [rowData]="rowData"
              (gridReady)="onGridReady($event)"
              (columnResized)="onColumnResized($event)"
              [blockLoadDebounceMillis]="true"
              [rowBuffer]="20" 
              ></ag-grid-angular>
            <!-- / Sales Log Table Ends-->
          </div>


          <!--Footer Starts  -->
          <div fxlayoutalign="space-between" style="width: 100%;background: whitesmoke;place-content: stretch space-between;align-items: stretch;flex-direction: row;box-sizing: border-box;display: flex;">
            <button class="ng-tns-c59-23 mat-button" (click)="addColumn()" mat-button=""><span class="mat-button-wrapper">
              <span class="addIcon ng-tns-c59-23" style="
              background: #2196f3;
              padding: 7px;
              color: white;
              margin-right: 6px;
          ">+</span>
              <span class="addBtn ng-tns-c59-23">ADD</span></span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <div>
                <button class="ng-tns-c59-23 mat-button" (click)="excelExport()" >
                  <span class="mat-button-wrapper">
                    <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" class="print_export ng-tns-c59-23" height="48" id="Layer_1" style="enable-background:new 0 0 24 24; margin-top: 3px;" version="1.1" viewBox="0 0 24 24" width="48" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                      <g>
                        <path d="M19.6,5.5h-5.7v1.9h1.9v1.3h-1.9v1.2h1.9v1.2h-1.9v1.2h1.9v1.2h-1.9v1.2h1.9V16h-1.9v1.9h5.7c0.3,0,0.5-0.2,0.5-0.5V6
                          C20.1,5.7,19.9,5.5,19.6,5.5L19.6,5.5z M18.8,16h-2.5v-1.2h2.5V16z M18.8,13.5h-2.5v-1.2h2.5V13.5z M18.8,11.1h-2.5V9.8h2.5V11.1z
                          M18.8,8.6h-2.5V7.3h2.5V8.6z M18.8,8.6" fill="#2196f3">
                        </path>
                        <path d="M3.9,5.4V18l9.3,1.8V3.6L3.9,5.4z M9.8,14.8l-1.1-2.1c0-0.1-0.1-0.2-0.1-0.4h0c0,0.1-0.1,0.2-0.1,0.4l-1.1,2H5.7l2-3.2
                        L5.8,8.5h1.7l0.9,1.9c0.1,0.1,0.1,0.3,0.2,0.5h0c0-0.1,0.1-0.3,0.2-0.5l1-1.9h1.6l-1.9,3.1l1.9,3.2H9.8z M9.8,14.8" fill="#2196f3"></path>
                      </g>
                    </svg> XLS export
                  </span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
                </button>
                <button class="ng-tns-c59-23 mat-button" (click)="csvExport()" >
                  <span class="mat-button-wrapper">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  height="38"  width="38" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 303.188 303.188" style="enable-background:new 0 0 303.188 303.188;" xml:space="preserve">
<g>
	<polygon style="fill:rgb(33,150,243);" points="219.821,0 32.842,0 32.842,303.188 270.346,303.188 270.346,50.525 	"/>
	<polygon style="fill:white;" points="227.64,25.263 32.842,25.263 32.842,0 219.821,0 	"/>
	<g>
		<g>
			<path style="fill:white;" d="M114.872,227.984c-2.982,0-5.311,1.223-6.982,3.666c-1.671,2.444-2.507,5.814-2.507,10.109
				c0,8.929,3.396,13.393,10.188,13.393c2.052,0,4.041-0.285,5.967-0.856c1.925-0.571,3.86-1.259,5.808-2.063v10.601
				c-3.872,1.713-8.252,2.57-13.14,2.57c-7.004,0-12.373-2.031-16.107-6.094c-3.734-4.062-5.602-9.934-5.602-17.615
				c0-4.803,0.904-9.023,2.714-12.663c1.809-3.64,4.411-6.438,7.808-8.395c3.396-1.957,7.39-2.937,11.98-2.937
				c5.016,0,9.808,1.09,14.378,3.27l-3.841,9.871c-1.713-0.805-3.428-1.481-5.141-2.031
				C118.681,228.26,116.841,227.984,114.872,227.984z"/>
			<path style="fill:white;" d="M166.732,250.678c0,2.878-0.729,5.433-2.191,7.665c-1.459,2.232-3.565,3.967-6.315,5.205
				c-2.751,1.237-5.977,1.856-9.681,1.856c-3.089,0-5.681-0.217-7.775-0.65c-2.095-0.434-4.274-1.191-6.538-2.27v-11.172
				c2.391,1.227,4.877,2.186,7.458,2.872c2.582,0.689,4.951,1.032,7.109,1.032c1.862,0,3.227-0.322,4.095-0.969
				c0.867-0.645,1.302-1.476,1.302-2.491c0-0.635-0.175-1.19-0.524-1.666c-0.349-0.477-0.91-0.958-1.682-1.444
				c-0.772-0.486-2.83-1.48-6.173-2.983c-3.026-1.375-5.296-2.708-6.809-3.999s-2.634-2.771-3.364-4.443s-1.095-3.65-1.095-5.936
				c0-4.273,1.555-7.605,4.666-9.997c3.109-2.391,7.384-3.587,12.822-3.587c4.803,0,9.7,1.111,14.694,3.333l-3.841,9.681
				c-4.337-1.989-8.082-2.984-11.234-2.984c-1.63,0-2.814,0.286-3.555,0.857s-1.111,1.28-1.111,2.127
				c0,0.91,0.471,1.725,1.412,2.443c0.941,0.72,3.496,2.031,7.665,3.936c3.999,1.799,6.776,3.729,8.331,5.792
				C165.955,244.949,166.732,247.547,166.732,250.678z"/>
			<path style="fill:white;" d="M199.964,218.368h14.027l-15.202,46.401H184.03l-15.139-46.401h14.092l6.316,23.519
				c1.312,5.227,2.031,8.865,2.158,10.918c0.148-1.481,0.443-3.333,0.889-5.555c0.443-2.222,0.835-3.967,1.174-5.236
				L199.964,218.368z"/>
		</g>
	</g>
	<polygon style="fill:#D1D3D3;" points="219.821,50.525 270.346,50.525 219.821,0 	"/>
	<g>
		<rect x="134.957" y="80.344" style="fill:white;" width="33.274" height="15.418"/>
		<rect x="175.602" y="80.344" style="fill:white;" width="33.273" height="15.418"/>
		<rect x="134.957" y="102.661" style="fill:white;" width="33.274" height="15.419"/>
		<rect x="175.602" y="102.661" style="fill:white;" width="33.273" height="15.419"/>
		<rect x="134.957" y="124.979" style="fill:white;" width="33.274" height="15.418"/>
		<rect x="175.602" y="124.979" style="fill:white;" width="33.273" height="15.418"/>
		<rect x="94.312" y="124.979" style="fill:white;" width="33.273" height="15.418"/>
		<rect x="134.957" y="147.298" style="fill:white;" width="33.274" height="15.418"/>
		<rect x="175.602" y="147.298" style="fill:white;" width="33.273" height="15.418"/>
		<rect x="94.312" y="147.298" style="fill:white;" width="33.273" height="15.418"/>
		<g>
			<path style="fill:white;" d="M127.088,116.162h-10.04l-6.262-10.041l-6.196,10.041h-9.821l10.656-16.435L95.406,84.04h9.624
				l5.8,9.932l5.581-9.932h9.909l-10.173,16.369L127.088,116.162z"/>
		</g>
	</g>
</g>

</svg>
 CSV export
                  </span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
                </button>
              <button class="ng-tns-c59-23 mat-button" (click)="columnOption()">
                <span class="mat-button-wrapper">
                  <svg class="print_options ng-tns-c59-23" height="48" style="margin-top: 3px;" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 18h5V5h-5v13zm-6 0h5V5H4v13zM16 5v13h5V5h-5z" fill="#2196f3"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>Column options
                </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay">
                </div>
              </button>
            </div>
          </div>
          <!-- /Footer Ends -->
        </div>
      </div>
    </div>
  
    <div id="divuldaterange">
      
      <!-- Calender Starts -->
      <date-footer [rowData]="rowData" (dateFilterObj)="dateSetting($event)"></date-footer>
      <!-- / Months slider Ends -->
  
    </div>
    
  
  </div>