<ng-container *ngIf="key; else elseTemplate">
    <ng-container *ngIf="loading; else elseTemplate">
        <loading></loading>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="title">RECOVER YOUR PASSWORD</div>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip
                    color="accent"
                    selected
                    style="
                        width: 100%;
                        text-align: center;
                        display: block;
                        font-size: 13px;
                    "
                >
                    Minimum {{ minPw }} & Maximum
                    {{ maxPw }} characters long</mat-chip
                >
            </mat-chip-list>
            <br />

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    maxlength="15"
                    (input)="onPasswordInput()"
                />
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="password.hasError('required')"
                    >Password is required</mat-error
                >
                <mat-error *ngIf="password.hasError('minlength')"
                    >Password must have at least {{ minPw }}
                    characters
                </mat-error>
                <mat-error *ngIf="password.hasError('maxlength')"
                    >Password must have at least {{ maxPw }}
                    characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    type="password"
                    placeholder="Confirm password"
                    formControlName="password2"
                    maxlength="15"
                    (input)="onPasswordInput()"
                />
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="password2.hasError('required')"
                    >Please confirm your password</mat-error
                >
                <mat-error
                    *ngIf="password2.invalid && !password2.hasError('required')"
                    >Passwords don't match
                </mat-error>
            </mat-form-field>

            <button
                mat-raised-button
                color="accent"
                class="submit-button"
                aria-label="CONTINUE"
                [disabled]="!loginForm.valid"
            >
                CONTINUE
            </button>
        </form>
    </ng-template>
</ng-container>
<ng-template #elseTemplate>
    <div class="title">PLEASE CONTINUE TO LOGIN SCREEN</div>
    <BR />
    <button
        mat-raised-button
        color="accent"
        class="submit-button"
        aria-label="LOGIN"
        [routerLink]="'/auth/login'"
    >
        LOGIN
    </button>
</ng-template>
