<mat-form-field class="mat-form-fieldClass custom-dropdown-row">
    <mat-select
        *ngIf="!customDropdownFlag"
        [(ngModel)]="selected"
        (openedChange)="openedChange($event)"
        (selectionChange)="go($event)"
        [formControl]="bankCtrl"
        #singleSelect
    >
        <div
            class="xdsoft_datetimepicker_custom xdsoft_noselect picker_rtl xdsoft_"
            style="
                display: block;
                left: 230px;
                width: 341px;
                height: 322px;
                top: -2px;
                position: absolute;
            "
        >
            <div class="xdsoft_datepicker_custom active">
                <div class="xdsoft_mounthpicker">
                    <button
                        type="button"
                        class="calender-ok-btn"
                        value="Select"
                        (click)="doSomething()"
                        style="
                            visibility: visible;
                            color: blue;
                            position: absolute;
                            bottom: 0;
                            right: 58px;
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: underline;
                        "
                    >
                        Save
                    </button>
                    <div class="xdsoft_label">
                        <div class="sd-container">
                            <!-- <input id="selected_date"  [(ngModel)]="selected_date" (ngModelChange)="doSomething()" type="datetime-local" name="selected_date" />  -->
                            <input id="_datetimepicker4" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            if ($("div").hasClass("xdsoft_current")) {
                console.log("hi" + this.val());
            }

            $("#xdsoft_time xdsoft_current").on("click", function (e) {
                alert("hey");
            });
        </script>

        <mat-option>
            <ngx-mat-select-search
                [(ngModel)]="selectedItem"
                [formControl]="bankFilterCtrl"
            ></ngx-mat-select-search>
        </mat-option>

        <mat-option selected>{{ selected }}</mat-option>

        <mat-option
            *ngFor="let item of filteredBanks | async"
            [value]="item.name"
        >
            <span
                [ngClass]="{
                    'text-success': item.name === 'TBA',
                    'text-primary': item.name === 'Pending',
                    'text-danger': item.name === 'cancelled',
                    'text-delete': item.name === 'Delete'
                }"
            >
                {{ item.name }}
            </span>
        </mat-option>
    </mat-select>

    <mat-select
        [(ngModel)]="selected"
        *ngIf="customDropdownFlag"
        (selectionChange)="go($event)"
        [formControl]="bankCtrl"
        #singleSelect
    >
        <mat-option>
            <ngx-mat-select-search
                placeholderLabel="Search.."
                noEntriesFoundLabel="'No result found'"
                [formControl]="bankFilterCtrl"
            ></ngx-mat-select-search>
        </mat-option>
        <mat-option class="paytype-option" [value]="selected" selected>{{
            selected
        }}</mat-option>

        <mat-option
            class="paytype-option"
            *ngFor="let item of filteredBanks | async"
            [value]="item.code"
        >
            <span
                *ngIf="header != 'Pay Type'"
                [style.color]="item.details != null ? item.details.color : null"
                [style.background-color]="
                    item.details != null ? item.details.background : null
                "
                [hidden]="selected === item.code ? true : false"
            >
                {{ item.code }}
            </span>

            <span
                class="paytype-code"
                *ngIf="header === 'Pay Type'"
                [style.color]="item.details != null ? item.details.color : null"
                [style.background-color]="
                    item.details != null ? item.details.background : null
                "
            >
                {{ item.code }}
            </span>
            <span
                class="paytype-desc"
                *ngIf="header === 'Pay Type'"
                class="right"
                >{{ item.name }}</span
            >
        </mat-option>
    </mat-select>
</mat-form-field>
