
      <!--  <mat-form-field>
          <input matInput placeholder="Input" [(ngModel)]="first_question" [style.color]="first_question.toLowerCase() === 'rome' ? 'red' : 'green'">
  </mat-form-field> 
     <input type="text"
            
             aria-label="Number"
             matInput
             [(ngModel)]="selectedItem"
             [ngClass]="{
              'text-success':selectedItem === 'TBA',
              'text-primary':selectedItem === 'Pending',
              'text-danger':selectedItem === 'Cancelled',
              'text-delete':selectedItem === 'Delete'
            }"
            
             [formControl]="myControl"
             [matAutocomplete]="auto">

        
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
          <span [ngClass]="{
            'text-success':option === 'TBA',
            'text-primary':option === 'Pending',
            'text-danger':option === 'Cancelled',
            'text-delete':option === 'Delete'
          }">{{option}}</span>
          
        </mat-option>
      </mat-autocomplete>  -->
 
           
      <mat-form-field class="mat-form-fieldClass custom-dropdown-row">
       
        <mat-select *ngIf="!customDropdownFlag" [(ngModel)]="selected"  (openedChange)="openedChange($event)" (selectionChange)="go($event)" [formControl]="bankCtrl"  #singleSelect>
                    
          <div class="xdsoft_datetimepicker_custom xdsoft_noselect picker_rtl xdsoft_" style="display: block; left: 230px;width: 342px;height:295px; top: -2px; position: absolute;">
            <div class="xdsoft_datepicker_custom active">
            
              <div class="xdsoft_mounthpicker">
                <button type="button" class="calender-ok-btn" value="Select" (click)="doSomething()" style="visibility: visible;color:black;position: absolute;
                bottom: 0;
                right: 58px;">Select</button>
                <div class="xdsoft_label ">
                  <div class="sd-container">
                   
                    <!-- <input id="selected_date"  [(ngModel)]="selected_date" (ngModelChange)="doSomething()" type="datetime-local" name="selected_date" />  -->
   <input id="_datetimepicker4"  type="text">
 
        
        
                  </div>
              </div>
                  </div></div></div>
         <script>
     
            if($('div').hasClass('xdsoft_current')){
              console.log("hi"+this.val());
            }

$('#xdsoft_time xdsoft_current').on("click", function(e) {
    alert('hey');
});


         </script>    
              
   
          <mat-option>
            
            <ngx-mat-select-search 
            [(ngModel)]="selectedItem"
            [formControl]="bankFilterCtrl"
             ></ngx-mat-select-search>
          </mat-option>
          <mat-option selected>{{selected}}</mat-option> 

        <mat-option  *ngFor="let item of filteredBanks | async" [value]="item.name">
          <span  [ngClass]="{
            'text-success':item.name === 'TBA',
            'text-primary':item.name === 'Pending',
            'text-danger':item.name === 'cancelled',
            'text-delete':item.name === 'Delete'
          }">  {{item.name}}
          </span>
           
          </mat-option>
        
          
        </mat-select>
       
        <mat-select   [(ngModel)]="selected"   *ngIf="customDropdownFlag" (selectionChange)="go($event)" [formControl]="bankCtrl"  #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Search.." noEntriesFoundLabel="'No result found'" [formControl]="bankFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option  class="paytype-option" [value]="selected" selected>{{selected}}</mat-option>

          <mat-option  class="paytype-option" *ngFor="let item of filteredBanks | async" [value]="item.code">
                      
            <span    *ngIf="header != 'Pay Type'" [style.color]="item.details!=null?item.details.color:null"
            [style.background-color]="item.details!=null?item.details.background:null" 
            [hidden]="selected === item.code?true:false"> {{item.code}}
            </span>

            <span  class="paytype-code" *ngIf="header === 'Pay Type'"  [style.color]="item.details!=null?item.details.color:null"
            [style.background-color]="item.details!=null?item.details.background:null">  {{item.code}}
            </span>
            <span class="paytype-desc"  *ngIf="header === 'Pay Type'"  class="right">{{item.name}}</span>
          </mat-option> 
        </mat-select>

      </mat-form-field>
      
      
    <!--
    Copyright Google LLC All Rights Reserved.
    
    Use of this source code is governed by an MIT-style license that can be
    found in the LICENSE file at https://angular.io/license
    -->


 <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_coins" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Coin
      </button>
      <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins">
          <form class="px-4 py-2">
              <input type="search" class="form-control" id="searchCoin" placeholder="BTC" autofocus="autofocus">
          </form>
          <div id="menuItems"></div>
          <div id="empty" class="dropdown-header">No coins found</div>
      </div>
    </div> -->


