.table > tr th {
    text-align: center;
    border: 1px solid #d4d4d4;
    padding: 5px;
    line-height: 30px;
}
.table{
    border-collapse: collapse;
}
.table > tr td {
    padding: 5px;
    border: 1px solid #d4d4d4;
    line-height: 25px;
}
.tdCenter{
    text-align: center;
}
.table > tr td {
    padding: 5px;
    border: 1px solid #d4d4d4;
    line-height: 25px;
}
