<br />
<div style="position: relative;">
    <loading *ngIf="showLoader" [isGridLoader]="true"></loading>

    <table mat-table matSort [dataSource]="dataSource" #mytable>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef>Department Logo</th>
            <td mat-cell *matCellDef="let element"  [ngClass]="{ inActiveRow: !element.enabled }">
                <ng-container *ngIf="element.picture; else elseTemplate">
                    <img [src]="element.picture" class="logo" />
                </ng-container>
                <ng-template #elseTemplate>
                    <img
                        [src]="'./assets/images/dummyImage.png'"
                        class="logo"
                    />
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Department Name
            </th>
            <td mat-cell *matCellDef="let element"  [ngClass]="{ inActiveRow: !element.enabled }">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="abbr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Abbreviation
            </th>
            <td mat-cell *matCellDef="let element"  [ngClass]="{ inActiveRow: !element.enabled }">{{ element.abbr }}</td>
        </ng-container>
        <ng-container matColumnDef="isactive">
            <th mat-header-cell *matHeaderCellDef>Is Active</th>
            <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="{ inActiveRow: !element.enabled }"
            >
                <mat-checkbox
                    (change)="changeActive($event, element)"
                    [checked]="element.enabled"
                ></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link" [ngClass]="{ inActiveRow: !element.enabled }">
                <mat-icon
                    class="pointer secondary-text mat-icon notranslate material-icons mat-icon-no-color deleteImg"
                    role="img"
                    aria-hidden="true"
                    title="Edit"
                    (click)="editDepartment(element)"
                    >edit</mat-icon
                >

                <delete-confirm
                    (deleteConfirmed)="removeDepartment(element)"
                ></delete-confirm>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
    </table>
</div>

<mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
></mat-paginator>
